
*{
    font-family: 'Montserrat';
}

body{
    font-family: 'Montserrat';
}
#title {
    background-color: #ff4c68;
    color:white;
}
.container-fluid{
    padding: 3% 15% 7%;
}
h1{
    font-family: "montserrat-black";
    font-weight: bolder;
    color: white;
    font-size: 4rem;
    line-height: 5rem;
}
h2{
    font-family: "monserray-bold";
    font-size: 3rem;
    line-height:1.5 ;
}
h3{
    font-family: 'monserrat-bold';
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    color:grey;
}
/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem 0;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "monserrat-light";
}


/* Download-button */
.download-button{
    margin: 5% 3%;
    margin-left: 0;
}


/* title image */

.title-image{
    max-width: 60%; height: auto;
    transform:rotate(25deg) ;
    position: absolute;
    left:55%;
}
/* feature section */
#features{
    padding: 7% 15%;
    background-color: #ffffff;
    position: relative;
    
}

.feature-box{
    text-align: center;
    padding: 5%;
}.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}

/* testimonial section */
#testimonials{
    padding: 7% 15% 5%;
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;

}
.doggyy{
    width:10%;
    border-radius:100% ;
    margin:20px;
}


.carousel-item{
    padding: 7% 15%;
}

/* presssection */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;   
}

.press-logo{
    width:15%;
    margin:20px 20px 50px;
}

/* pricing section */
#pricing{
    padding: 10%;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}

.card{
    border: none;
    border-right: 1px solid;
    border-left: 1px solid;
    border-radius: 0;
    
}
@media  (max-width:1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        display: flex;
       
        text-align: center;
    }

}


#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #ffffff;
    padding: 8% 15% 6%;
}


#footer{
    text-align: center;
    
    margin-top: 20px;
}

.footer-class{
    margin: 10px 15px;
    font-size: 20px;
    color:black;
}